.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.graph-container {
  display: flex;
}

.graph {
  margin-right: 100px;
  width: 80%;
  height: auto;
  border: aqua 3px solid;
}

.input-button-container {
  display: flex;
  margin-left: 110px;
}
.input-number-container {
  display: flex;
  margin-left: 70px;
}

.button-box {
  margin-right: 180px;
}

.input-number {
  margin-right: 100px;
  text-align: right;
}

.main-block {
  display: block;
  text-align: center;
}
